.login-form{
	max-width: 440px;
	margin: auto;
	padding-top: 60px;
}
.login-input-set{
	margin-bottom: 7px;
}
#ilt-name-fields{
	height: 0;
	overflow: hidden;
	margin-bottom: 25px;
	@include transition(opacity , 0.45s linear);
}
#ILT-user-checkbox:checked ~ #ilt-name-fields{
	height: 108px;
}