.login-form{
	max-width: 570px;
	padding: 150px 65px;
}
.login-input-set{
	margin-top: 16px;
}
.login-button-set{
	padding-top: 40px;
}
#wbt-input-fields{
	height: 176px;
}
#ilt-input-fields{
	display: none;
}
#ILT-user-checkbox:checked ~ #wbt-input-fields{
	display: none;
}
#ILT-user-checkbox:checked ~ #ilt-input-fields{
	display: block;
}