@mixin ptc-set-style($background : $transparent, 
						$border-width: 2px, 
						$border-style:solid , 
						$border-color: $background , 
						$color: $white , 
						$margin: 10px auto, 
						$padding: 10px , 
						$width: false , 
						$minWidth: false , 
						$appearence: false ,
						$border-active: $background
						){
	@if $appearence{
		@include appearance($appearence);
	}
	border: $border-width $border-style $border-color;
	margin: $margin;
	padding: $padding;
	color: $color;
	background: $background;
	@if $width{
		width: $width;
	}
	@if $minWidth{
		min-width: $minWidth;
	}



	&:hover{
		border: 2px solid $background;
	}

	&:active{
		border: 2px outset $border-active;
	}
}