@mixin ptc-set-style($background : $transparent, 
						$border-width: 2px, 
						$border-style:solid , 
						$border-color: $background , 
						$color: $white , 
						$margin: 10px auto, 
						$padding: 10px , 
						$width: false , 
						$minWidth: false , 
						$appearence: false ,
						$border-active: $background
						){
	@if $appearence{
		@include appearance($appearence);
	}

	$disabledBg: $greyLight;
	background: $disabledBg;
	border: $border-width $border-style $transparent;

	margin: $margin;
	padding: $padding;
	color: $color;
	@if $width{
		width: $width;
	}
	@if $minWidth{
		min-width: $minWidth;
	}

	&:enabled{
		background: $background;
		border: $border-width $border-style $border-color;
		&:hover{
			border: 2px solid $background;
		}

		&:active{
			border: 2px outset $border-active;
		}
	}
}