@mixin ptc-set-style($background : transparent, $border-width: 0, $border-color: $white , $color: $white , $margin: 10px auto, $padding: 10px , $width: false , $minWidth: false , $appearence: false){
	@if $appearence{
		@include appearance($appearence);
	}
	border: $border-width solid $border-color;
	margin: $margin;
	padding: $padding;
	color: $color;
	background: $background;
	@if $width{
		width: $width;
	}
	@if $minWidth{
		min-width: $minWidth;
	}
}