@mixin ptc-text-input($border-width: 2px, $border-color: $white ,$margin: 7px , $padding: 12px 10px, $width: 100%){
	@include appearance(none);
	width: $width;

	padding: $padding;
	margin: $margin;
}