$icomoon-path:$base-image-path + "icomoon/fonts/";
@font-face {
	font-family: 'icomoon';
	src:url($icomoon-path + 'icomoon.eot?wsddrg');
	src:url($icomoon-path + 'icomoon.eot?#iefixwsddrg') format('embedded-opentype'),
		url($icomoon-path + 'icomoon.woff?wsddrg') format('woff'),
		url($icomoon-path + 'icomoon.ttf?wsddrg') format('truetype'),
		url($icomoon-path + 'icomoon.svg?wsddrg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-forward:before {
	content: "\e601";
}
.icon-export:before {
	content: "\e602";
}
.icon-arrow-down:before {
	content: "\e603";
}
.icon-arrow-down2:before {
	content: "\e604";
}
.icon-share:before {
	content: "\e605";
}
.icon-redo:before {
	content: "\e606";
}
.icon-expand:before {
	content: "\e01a";
}
.icon-share-square-o:before {
	content: "\f045";
}
.icon-chevron-circle-down:before {
	content: "\f13a";
}
.icon-export-outline:before {
	content: "\e600";
}
.icon {
	display: inline-block;
	width: 32px;
	height: 32px;
	fill: #000000;
}
.icon-sitemap {
	fill: #000000;
}
.icon-forward {
	fill: #000000;
}
.icon-export {
	fill: #000000;
}
.icon-arrow-down {
	fill: #000000;
}
.icon-arrow-down2 {
	fill: #000000;
}
.icon-share {
	fill: #000000;
}
.icon-expand {
	fill: #000000;
}
.icon-redo {
	fill: #000000;
}
.icon-share-square-o {
	fill: #000000;
	width: 30px;
}
.icon-chevron-circle-down {
	fill: #000000;
}
.icon-export-outline {
	fill: #000000;
}
