*{	
	box-sizing: border-box;	
}
html{
	font-size: 14px;
	height: 100%;
}
body{
	height: 100%;
	max-width: 1160px;
	margin: 0 auto;
	position: relative;
	background: {
		// color: $blueDark;
		image: url($base-image-path + $bodyBg);
		size: auto 100%;
		position: center;
		repeat: no-repeat;
	}
	text-rendering: optimizeLegibility;
	font-family: 'Open Sans', sans-serif;	
}