//path vars
$base-font-path:'../fonts/';
$base-image-path:'../images/';

// base font size
$_base-size:14px;

$header-height:45px;// height of global header
$footer-height:55px;// height of global footer