.login-module{
	position: relative;
	background: $pink;
	width: 100%;
	height: 100%;
}
.login-button-set{
	width: 62%;
	margin: auto;
	padding-top: 100px;
}
.login-input-set{
	width: 68.75%;
	margin: auto;
}
.login-container{
	background: $cyan;
	height: 100%;
	position: relative;
	z-index: 10;
	/* reset transforms (Chrome bug) */
	@include transform(translateZ(0) translateX(0) rotateY(0deg));
}

.login-wrapper{
	position: relative;
}

.login-module.modalview{
	position: fixed;
	@include perspective(1500px);
}

.modalview{
	.login-container{
		position: absolute;
		overflow: hidden;
		width: 100%;
		height: 100%;
		cursor: pointer;
		@include backface-visibility(hidden);
	}
	.login-wrapper{
		-webkit-transform: translateZ(-1px); /* solves a rendering bug in Chrome on Windows */
	}
}