.effect-open-door{
	.login-container{
		@include transition(transform 0.4s);
		@include transform-origin(50% 50%);
	}
}
.effect-open-door.login-animate{
	.login-container{
		@include transform(translateZ(-1500px) translateX(100%) rotateY(-45deg));
	}
}
.no-csstransforms3d{
	.effect-open-door.login-animate{
		.login-container{
			left : 75%;
		}
	}
}
.effect-open-door .login-nav * {
	opacity: 0;
	@include transform(translateX(-150px));
	@include transition ( transform 0.4s, opacity 0.4s);
}

.effect-open-door.login-animate .login-nav * {
	opacity: 1;
	@include transform (translateX(0));
}

@include ptc-login-nav-elements-transition($login-nav-element-count);