.effect-open-door{
	background: #b8b6b4;
	.login-container{
		@include transition(transform 0.4s);
		@include transform-origin(50% 50%);
	}
}
.effect-open-door.login-animate{
	.login-container{
		@include transform(translateZ(-1500px) translateX(100%) rotateY(-45deg));
	}
}
.no-csstransforms3d{
	.effect-open-door.login-animate{
		.login-container{
			left : 75%;
		}
	}
}
.effect-open-door .login-nav * {
	opacity: 0;
	@include transform(translateX(-150px));
	@include transition ( transform 0.4s, opacity 0.4s);
}

.effect-open-door.login-animate .login-nav * {
	opacity: 1;
	@include transform (translateX(0));
}
.effect-open-door.login-animate .login-nav *:nth-child(2) {
	-webkit-transition-delay: 0.04s;
	transition-delay: 0.04s;
}
.effect-open-door.login-animate .login-nav *:nth-child(3) {
	-webkit-transition-delay: 0.08s;
	transition-delay: 0.08s;
}
.effect-open-door.login-animate .login-nav *:nth-child(4) {
	-webkit-transition-delay: 0.12s;
	transition-delay: 0.12s;
}