.login-button{
	@include ptc-set-style($background : $blueDark , $width: 100% , $appearence: none , $padding:14px , $margin:0 0 15px);
	font-weight: bold;

/*	&:disabled{
		background: $grey;

		&:hover{
			border-color:none;
		}
	}*/
}