.login-button{
	@include ptc-set-style($background : $green , $width: 100% , $appearence: none , $padding:13px , $margin:0 0 13px);
	font-weight: bold;

/*	&:disabled{
		background: $grey;

		&:hover{
			border-color:none;
		}
	}*/
}