.humble-checkbox{
	vertical-align: -10%;
}
$whiteLight: #fafafa;
//begin custom input styles
input[type='checkbox']{
  display:none; //hide by default
  cursor:pointer; //make the cursor a pointer when over the items
  &:focus,
  &:active{
    outline:none;  //remove the annoying outline
  }
 & + label{
 	width: 95%;
   cursor:pointer; 
   position: relative;
   padding-left:25px;
   margin-right:10px;
   // color: $white;
   &:before,
   &:after{
    content:'';
    font-family: helvetica;
    display:inline-block;
    width:18px;
    height:18px;      
    left:0;
    bottom:0;
    text-align:center;
    position: absolute;
    }
   &:before{
    background-color:$whiteLight;
    @include transition(all .7s ease-in-out);
   }
   &:after{
    color:#fff;
    }
  }
  &:checked + label:before{
     box-shadow: 0 0 0 10px $blueDark inset;    
  }
}
/*Checkbox Specific styles*/
input[type='checkbox']{
   & + label:before{
     border-radius: 25%; 
  }
  
  & + label:hover:after,
  &:checked + label:after{
    content:"\2713";
    line-height:18px;
    font-size:14px;
  }
  & + label:hover:after{
    color:darken($whiteLight, 20%);  
  }
  &:checked + label:after,
  &:checked + label:hover:after{
    color:#fff;
  }
}
