.plain-link{
	text-decoration: none;
	color: inherit;

	&:hover{
		text-decoration: underline;
	}

	&:active{
		color: $greyDark;
	}
}
.language-links{
	@extend .plain-link;
	padding: 0 12px;
}

.link-active{
	text-decoration: underline;
	font-family: monospace;
}