.plain-links{
	display: inline;
	text-decoration: none;
	color: $white;

	&:hover{
		text-decoration: underline;
	}

	&:active{
		color: $greyDark;
	}
}
.forgot-password{
	text-decoration: none;
	color: inherit;

	&:hover{
		text-decoration: underline;
	}

	&:active{
		color: $greyDark;
	}
}
.language-links{
	@extend .plain-links;
	padding: 0 12px;
}